.chamo*
META
config.log
config.status
ocaml_config.sh
master.Makefile
src/*.cm*
src/*.a
src/*.o
src/*.annot
src/chamo.byte
src/ed_charsets.ml
src/ed_ocaml_lexer.ml
src/ed_gui_base.ml
src/ocamldoc
src/dump.odoc
