<html>
<head>
<title><site-title/> : <doc-title/></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="&lt;site-url/&gt;/style.css"></link>
</head><body>
<div id="page">
<include file="menubar.tmpl"/>
<div id="header">
<if doc-type="post"><div class="date"><doc-date/></div></if>
<div class="page-title"><doc-title/></div>
</div>
<doc-body/>
<if doc-type="post"><div class="comments">
<div>
<div class="doc-keywords">
  <div class="bloc-keywords">
  Topics: <div class="keywords"><doc-topics ep=", "/></div>
  </div>
  <div class="bloc-keywords">
  Keywords: <div class="keywords"><doc-keywords sep=", "/></div>
  </div>
</div>
</div>
<div itemprop="articleSection" class="section">
  <comments/>
</div>
</div>
</if>

</div>
<footer id="bottombar">
</footer>
</body>
</html>