<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<image float="right" src="&lt;site-url/&gt;/toplogo.png" width="30"/>
<env_ mainpage="&lt;site-url/&gt;/index.html">
  <a class="brand" href="&lt;mainpage/&gt;"><site-title/></a>
  <div class="nav-collapse">
  <ul class="nav">
    <li class="&lt;navbar-home/&gt;"><a href="&lt;mainpage/&gt;">Home</a></li>
    <li class="&lt;navbar-about/&gt;"><page href="about">?</page></li>
  </ul>
  </div>
  <div class="nav pull-right">
  </div>
</env_>
</div>
</div>
</div>